<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music +</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <style media="screen">
      .title {
        /*font-family: 'Lobster', cursive;*/
        font-family: 'Permanent Marker', cursive;
        font-size: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row col-md-4 offset-md-4">
        <p class="title text-center">Music+</p>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          {% from "_macro.html" import render_field %}
          <form method="POST" enctype="multipart/form-data" class="text-center">
             {{ form.csrf_token }}
             {{ render_field(form.text, class='form-control', placeholder='Buscar')  }}  <br>
             <button type="submit" class = "btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>Artista</th>
              <th>Canción</th>
              <th>Enlace</th>
            </tr>
          </thead>
          <tbody>
            {% for element in data %}
                <tr>
                  <th>{{ element[0] }}</th>
                  <th>{{ element[1] }}</th>
                  <th><small><a href="http://www.lyricsfreak.com{{ element[2] }}" target="_blank">Ver Letra</a></small></th>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
